body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f4f4f9;
  /* position: absolute; */
}
#pageContent {
  width: 50%;
}

#ghost {
  display: none;
}

#changingPic {
  display: flex;
  justify-content: center;
}
#ghost {
  width: 60%;
}
.container {
  text-align: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#resetButton {
  transition: transform 0.2s ease;
  animation: pulse 1.5s infinite;
}

/* Pulsating keyframes */
@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.1);
    opacity: 0.8;
    background-color: red;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

input[type="text"] {
  width: 100%;
  padding: 8px;
  margin: 8px 0;
  box-sizing: border-box;
}

/* button {
  padding: 10px 20px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
} */

#answerDisplay {
  margin-top: 15px;
  font-size: 40px;
  color: #333;
}

/* static screen */
.static {
  position: absolute;
  width: 100%;
  display: none;
}
/* scary dots */
.dot {
  display: none;
  position: absolute;
}

.fader {
  display: block;
  animation-name: fadeInOut;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

/* scary dots keyframes */
@keyframes fadeInOut {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  50% {
    transform: scale(0.2);
    opacity: 1;
  }
  100% {
    transform: scale(0.4);
    opacity: 0;
  }
}

@media (max-width: 830px) {
  /* Styles for screens 430px wide or less */
  #pageContent {
    width: 87%;
  }

  /* Add any other elements you want to adjust */
}
